#welcome {
  margin: 3rem 27%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

#questionForm {
  margin: 3rem 27%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#displayPage {
  margin: 3rem 10%;
  display: flex;
  flex-direction: column;
  width: 80%;
}
#displayPage h2 {
  text-align: center;
  margin: 1rem auto;
  width: 90%;
}

#formHeader {
  margin-left: 9rem;
}

.subText {
  font-size: 2rem;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.cardContainer {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  margin: 0 auto;
  width: 55%;
}

.cardContainer form {
  margin: 0;
}

.cardContainer form p {
  padding: 1rem 0.7rem;
  margin: 0;
}

.cardContainer .answerDisplay {
  color: #fff;
}

.cardWrapper {
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
  color: #333;
  align-items: flex-start;
  margin: 1rem;
  position: relative;
}

.cardWrapper .cardHeader {
  background-color: #333;
  padding: 0.5rem;
  color: white;
  margin: 0;
}

.cardWrapper .row {
  display: block;
}

.cardWrapper input {
  display: inline-block;
}

.cardWrapper label {
  display: inline-block;
}

.cardWrapper button {
  background-color: #17b6ff;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: none;
  margin: 0;
}

.cardWrapper button:hover {
  background-color: #14a3e6;
}

.home-btn {
  position: absolute;
  top: 3rem;
  left: 5rem;
  border: 1px solid black;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #000;
  background-color: #e6e6e6;
}

.home-btn:hover {
  background-color: #c2c1c1;
}

fieldset {
  margin: 0;
  padding: 0;
  transition: ease 1s;
}
